.nav-link {
  margin-left: 40px;
}
#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
  margin-right: 20px;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

@media (max-width: 992px) {
  #supportWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }
}
#supportHero input{
    padding:10px 20px;
    width:90%;
    font-size:20px;
    border-radius: 10px;
    border:none;
}

